.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  width: 100vw;
  height: 100vh;
  background-color: brown;
}
.tank {
  position: absolute;
  top: 0;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 15px;
}
.gun {
  width: 80px;
  height: 10px;
  position: absolute;
  background: black;
  top: 25px;
  border-radius: 10px;
}
